{% extends "question/base.html" %} {% block content %}
<div class="cred">
  <h2>Login</h2>
  <form method="POST" action="{% url "login" %}">
    {% csrf_token %}
    <input
      type="text"
      name="username"
      placeholder="Username"
      maxlength="15"
      autocomplete="off"
      required
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      minlength="8"
      autocomplete="off"
      required
    />
    <button type="submit">Log in</button>
  </form>
  <p class="muted">
    New User?<a class="ml-2" href="{%url 'register' %}"> Sign Up</a> <br>
    Forgot password?<a class="ml-2" href="/reset/password_reset/"> Reset here</a>
  </p>
</div>
{% endblock content %}
