{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Quiz Portal</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href={% static 'question/main.css' %}>
  </head>
  <body>
    {% block content %} {% endblock content %}
    <script src="{% static 'question/scripts.js' %}"></script>

    <script type="text/javascript"> 
        
        var count = 120; //time in seconds
        var interval = setInterval(function(){
          document.getElementById('timer').innerHTML = count+" sec left";
          count--;
          if (count == -2){
            clearInterval(interval);
            document.getElementById('button').form.submit();
            alert("You're out of time!");
          }
        }, 1000);

    </script>  

  </body>
</html>
