{% extends "question/base.html" %}
{% load static %}

{% block content %}

{% include "question/header.html" %}
<div class="details">
  <h1 id="ques">{{ ques.question_text }}</h1>
  <form id="form" method="POST">
    {% csrf_token %}
    <input type="text" name="ans" id="answer" placeholder="Answer" required autocomplete="off" />
    <button id="timer">Timer</button>
    <button id="button" type="submit">Submit</button>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
 var count = 120; //time in seconds
  var interval = setInterval(function () {
    document.getElementById('timer').innerHTML = count + " sec left";
    count--;
    if (count == -1) {
      $.ajax({
        type: "POST",
        url: "{% url 'detail' %}",
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          expired: 'YES'
        },
        success: data => {
          if (data.ques === 'done') {
            window.location.href = '{% url "home" %}'
          }
          let ques = data.ques;
          if (ques !== 'wrong' && ques !== 'done') {
            $('#ques').html(ques)
            $('#form')[0].reset()
            count = 120;
          }
        }
      })
    }
  }, 1000); 

  $('#form').on('submit', e => {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'detail' %}",
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        ans: $('#answer').val(),
        expired: "NO"
      },
      success: data => {
        if (data.ques === 'done') {
          window.location.href = '/end/' + parseInt(data.score)
        }
        if (data.ques !== "wrong" && data.ques !== "done") {
          $("#ques").html(data.ques)
          $('#form')[0].reset()
          count = 120
        }
        if (data.ques === "wrong"){
           $('#form')[0].reset()
        }
      }
    })
  })
</script>

{% endblock %}