body
{
    background: #FF5F6D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.boxed
{
    box-sizing: border-box;
    width: 1000px;
    height: 550px;
    border-color: blanchedalmond;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    margin-top: 2%;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGD-9yVUWS3WSJK_6GrTLqP8y6eS-MLD69akoRytoESzNmxkOC&s');
    overflow: auto;
}

h1
{
    text-align: center;
    padding-top: 15%;
    color: black;
}

.users{
padding-left:5px; padding-right:5px;
}

.btn {
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 13px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .default {
    border-color:black;
    color: black;
  }
  
  .default:hover {
    background: #FF5F6D;
  }

  .ques
  {
    padding-left:65px;
    padding-top:60px;
    font-family:serif;
  }