{% extends "question/base.html" %}
{% block content %}
<div class="d-flex">
    <div class="boxed">
        <h3 class="ques">Question<br>{{ question.question_text }}</h3>
        <form>
            <div style="padding-left:70px;">
            <input type='text' name="ans" placeholder="Answer" required>
            </br>
            <input type="submit">
                {% if question.choice.answer %}
                    print("Correct")
                {% endif %}
            </br>
            </div>
        </form>
    </div>
</div>
{% endblock content %}