{% extends "question/base.html" %}
{% block content %}
<div class="d-flex">
    <div class="boxed">
        <h3 class="ques">Question<br>{{ ques.question_text }}</h3>
        <form method="POST">
            {% csrf_token %}
            <div style="padding-left:70px;">
            <input type='text' name="ans" placeholder="Answer" required>
            </br></br>
            <input type="submit" value="Submit">
            </br>
            </div>
        </form>
    </div>
</div>
{% endblock content %}