{% extends "question/base.html" %}
{% block content %}
<div class='d-flex'>
    <div class='boxed users'>
            <legend style="text-align:center;font-size:40px; "class="border-bottom mb-4">RULES</legend>
            <ul style="padding-right:10px;" class=text-justify>
                <li>The decision of the quiz-master will be final and will not be subjected to any change.</li>
                <li>The participants shall not be allowed to use mobile or other electronic instruments.</li>
                <li>The questions shall be in the form of multiple choice, True / False statement, Specific answer question etc.</li>
                <li>Audience/Supporters shall not give any hints or clues to the competitors.</li><br>
            </ul>
        <div class="text-center">
            <a class="text-dark" href="#"><button class="btn default" type="submit">
            Start</button></a>
        </div>
    </div>
</div>

{% endblock content %}