{% extends 'question/base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

<div class="cred">
  {% if validlink %}

  <h2>Set a new password!</h2>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" value="Change my password">Change password</button>
  </form>

  {% else %}

  <h2>The password reset link was invalid, possibly because it has already been used. Please request a new password
    reset.</h2>
  <p class="muted">
    Login here<a class="ml-2" href="{%url 'login' %}"> Login</a>
  </p>
  {% endif %}
</div>
{% endblock %}