{% extends 'question/base.html' %}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

<div class="cred">
  <h2>Enter your email address below, and we'll email instructions for setting a new one.</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" value="Reset">Reset</button>
    </form>

    <p class="muted">
      New User?<a class="ml-2" href="{%url 'register' %}"> Sign Up</a> <br>
      Login here<a class="ml-2" href="{%url 'login' %}"> Login</a> <br>
    </p>
</div>

{% endblock %}