{% extends "question/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class='d-flex'>
    <div class='boxed users'>
        <form method='POST'>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <button class="btn default" type="submit">Sign Up</button>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Have an account?<a class="ml-2" href="{%url 'login' %}">Login</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}